<?xml version="1.0" encoding="UTF-8" ?>
<!-- 引入约束schema约束 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:websocket="http://www.springframework.org/schema/websocket"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.2.xsd
	   http://www.springframework.org/schema/mvc
	   http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
	   http://www.springframework.org/schema/websocket
	   http://www.springframework.org/schema/websocket/spring-websocket-4.2.xsd ">
	<!-- 事务配置 -->
	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="DataSource"/>
    </bean>
    
    <!-- 配置切面 把增强用到方法上 -->
    <tx:advice id="advice" transaction-manager="transactionManager">
    	<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" isolation="DEFAULT" timeout="-1"
				read-only="false" rollback-for="java.lang.Exception" />
			<tx:method name="insert*" propagation="REQUIRED" isolation="DEFAULT" timeout="-1"
				read-only="false" rollback-for="java.lang.Exception" />
			<tx:method name="create*" propagation="REQUIRED" isolation="DEFAULT" timeout="-1"
				read-only="false" rollback-for="java.lang.Exception" />
			<tx:method name="update*" propagation="REQUIRED" isolation="DEFAULT" timeout="-1"
				read-only="false" rollback-for="java.lang.Exception" />
			<tx:method name="delete*" propagation="REQUIRED" isolation="DEFAULT" timeout="-1"
				read-only="false" rollback-for="java.lang.Exception" />
			<tx:method name="remove*" propagation="REQUIRED" isolation="DEFAULT" timeout="-1"
				read-only="false" rollback-for="java.lang.Exception" />
			<tx:method name="get*" propagation="REQUIRED" isolation="DEFAULT" timeout="-1"
				read-only="false" rollback-for="java.lang.Exception" />
			<tx:method name="*" read-only="true" />
    	</tx:attributes>
    </tx:advice>
    
    <!-- 配置切点  实际要增强的方法 -->
    <aop:config>
    	<aop:pointcut expression="execution(* top.caoyd.www.*.*(..))" id="pointcut"/>
    	<aop:advisor advice-ref="advice" pointcut-ref="pointcut"/>
    </aop:config>
    <!-- 接口配置 -->
	<import resource="classpath:beandao.xml"/>
</beans>